<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
</head>
<body>
    <ul>
        <h3>Cats</h3>
        {% if cats %}
        {% for cat in cats %}
        <li>
            <h4>Name: {{cat.Name}}</h4>
            <p>Age: {{cat.age}}</p>
        </li>
        {% endfor %}
        {% else %}
        <p>
            No cats found
        </p>
        {% endif %}
    </ul>
    <p>
        <a href="{% url 'animal:dogs' %}">intersted in dogs</a>
       </p> <p><a href="{% url 'animal:horses' %}">intersted in horses</a>
    </p>
</body>
</html>