<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <h3>Dogs</h3>
        {% if dogs %}
        {% for dog in dogs %}
        <li>
            <h4>Name : {{dog.Name}}</h4>
            <p>Age: {{dog.age}}</p>
        </li>
        {% endfor %}
        {% else %}
        <p>
            No dogs found
        </p>
        {% endif %}
    </ul>
    <p>
        <a href="{% url 'animal:cats' %}">intersted in cats</a>
        </p><p><a href="{% url 'animal:horses' %}">intersted in horses</a>
    </p>
</body>
</html>